# 1. Imports

In [1]:
from src.configuration import Configuration
from src.fetch_data import DataFetcher
from src.dim import Dims
from src.facts import Facts
import pandas as pd
import time
import datetime
from pyspark.sql import functions as f 
from pyspark.sql import  SparkSession, Window
from aggregate_data import DataAggregator



pd.set_option('display.max_columns', None)

# 2. Variables

In [2]:
config = Configuration('src/config.cfg')
fetcher = DataFetcher(config)
DIMS = Dims(config, fetcher)
FACTS = Facts(config, fetcher)
DATAAGGREGATOR = DataAggregator(config, fetcher)
spark = SparkSession.builder.appName("MojaSesja").master("local").getOrCreate()

25/10/12 18:31:18 WARN Utils: Your hostname, MacBook-Pro-Grzegorz.local resolves to a loopback address: 127.0.0.1; using 192.168.0.3 instead (on interface en0)
25/10/12 18:31:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/12 18:31:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/10/12 18:31:19 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

# 1. Assigning points throught the season to the driver.

In [9]:
dim_session = DIMS.dim_sessions(race="Race")
fact_session_result = FACTS.fact_session_results()

In [10]:
fact_session_result['position'] = fact_session_result['position'].fillna(value=21)
dim_driver_team = DIMS.dim_driver_team()

In [11]:
dim_session

,session_key,location,date_start,date_end,session_name,country_code,country_name,year,is_current_season,key
1,7953,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023
3,7779,Jeddah,2023-03-19,2023-03-19,Race,KSA,Saudi Arabia,2023,0,Jeddah2023
5,7787,Melbourne,2023-04-02,2023-04-02,Race,AUS,Australia,2023,0,Melbourne2023
9,9070,Baku,2023-04-30,2023-04-30,Race,AZE,Azerbaijan,2023,0,Baku2023
11,9078,Miami,2023-05-07,2023-05-07,Race,USA,United States,2023,0,Miami2023
...,...,...,...,...,...,...,...,...,...,...
149,9928,Budapest,2025-08-03,2025-08-03,Race,HUN,Hungary,2025,1,Budapest2025
151,9920,Zandvoort,2025-08-31,2025-08-31,Race,NED,Netherlands,2025,1,Zandvoort2025
153,9912,Monza,2025-09-07,2025-09-07,Race,ITA,Italy,2025,1,Monza2025
155,9904,Baku,2025-09-21,2025-09-21,Race,AZE,Azerbaijan,2025,1,Baku2025
157,9896,Marina Bay,2025-10-05,2025-10-05,Race,SGP,Singapore,2025,1,Marina Bay2025

In [13]:
joined_results  = fact_session_result.merge(
    dim_session,
    on="session_key",
    how="inner"
).merge(
    dim_driver_team,
    on = ['session_key','driver_number'],
    how = "inner"
)

In [14]:
joined_results

,position,driver_number,number_of_laps,dnf,dns,dsq,duration,gap_to_leader,meeting_key,session_key,points,location,date_start,date_end,session_name,country_code,country_name,year,is_current_season,key,team_name
0,1.0,1,57.0,False,False,False,5636.736,0,1141,7953,25.0,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023,Red Bull Racing
1,2.0,11,57.0,False,False,False,5648.723,11.987,1141,7953,18.0,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023,Red Bull Racing
2,3.0,14,57.0,False,False,False,5675.373,38.637,1141,7953,15.0,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023,Aston Martin
3,4.0,55,57.0,False,False,False,5684.788,48.052,1141,7953,12.0,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023,Ferrari
4,5.0,44,57.0,False,False,False,5687.713,50.977,1141,7953,10.0,Sakhir,2023-03-05,2023-03-05,Race,BRN,Bahrain,2023,0,Sakhir2023,Mercedes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1272,21.0,12,23.0,True,False,False,None,None,1277,9947,0.0,Silverstone,2025-07-06,2025-07-06,Race,GBR,United Kingdom,2025,1,Silverstone2025,Mercedes
1273,21.0,6,17.0,True,False,False,None,None,1277,9947,0.0,Silverstone,2025-07-06,2025-07-06,Race,GBR,United Kingdom,2025,1,Silverstone2025,Racing Bulls
1274,21.0,5,3.0,True,False,False,None,None,1277,9947,0.0,Silverstone,2025-07-06,2025-07-06,Race,GBR,United Kingdom,2025,1,Silverstone2025,Kick Sauber
1275,21.0,30,0.0,True,False,False,None,None,1277,9947,0.0,Silverstone,2025-07-06,2025-07-06,Race,GBR,United Kingdom,2025,1,Silverstone2025,Racing Bulls
1276,21.0,43,0.0,False,True,False,None,None,1277,9947,0.0,Silverstone,2025-07-06,2025-07-06,Race,GBR,United Kingdom,2025,1,Silverstone2025,Alpine

In [16]:
joined_results = joined_results[['position','driver_number','session_key','points','year','is_current_season','key','date_end','team_name']]
spark_df = spark.createDataFrame(joined_results)
spark_df.show()

+--------+-------------+-----------+------+----+-----------------+----------+----------+---------------+
|position|driver_number|session_key|points|year|is_current_season|       key|  date_end|      team_name|
+--------+-------------+-----------+------+----+-----------------+----------+----------+---------------+
|     1.0|            1|       7953|  25.0|2023|                0|Sakhir2023|2023-03-05|Red Bull Racing|
|     2.0|           11|       7953|  18.0|2023|                0|Sakhir2023|2023-03-05|Red Bull Racing|
|     3.0|           14|       7953|  15.0|2023|                0|Sakhir2023|2023-03-05|   Aston Martin|
|     4.0|           55|       7953|  12.0|2023|                0|Sakhir2023|2023-03-05|        Ferrari|
|     5.0|           44|       7953|  10.0|2023|                0|Sakhir2023|2023-03-05|       Mercedes|
|     6.0|           18|       7953|   8.0|2023|                0|Sakhir2023|2023-03-05|   Aston Martin|
|     7.0|           63|       7953|   6.0|2023|                0|Sakhir2023|2023-03-05|       Mercedes|
|     8.0|           77|       7953|   4.0|2023|                0|Sakhir2023|2023-03-05|     Alfa Romeo|
|     9.0|           10|       7953|   2.0|2023|                0|Sakhir2023|2023-03-05|         Alpine|
|    10.0|           23|       7953|   1.0|2023|                0|Sakhir2023|2023-03-05|       Williams|
|    11.0|           22|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|     AlphaTauri|
|    12.0|            2|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|       Williams|
|    13.0|           20|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|   Haas F1 Team|
|    14.0|           21|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|     AlphaTauri|
|    15.0|           27|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|   Haas F1 Team|
|    16.0|           24|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|     Alfa Romeo|
|    17.0|            4|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|        McLaren|
|    21.0|           31|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|         Alpine|
|    21.0|           16|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|        Ferrari|
|    21.0|           81|       7953|   0.0|2023|                0|Sakhir2023|2023-03-05|        McLaren|
+--------+-------------+-----------+------+----+-----------------+----------+----------+---------------+
only showing top 20 rows

In [48]:
window = Window.partitionBy("driver_number","year").orderBy("date_end").rowsBetween(
    Window.unboundedPreceding, Window.currentRow
)

spark_df = spark_df.withColumn("cumulative_points", f.sum("points").over(window))

In [50]:
spark_df.show(50)

+--------+-------------+-----------+------+----+-----------------+--------------------+----------+-----------------+
|position|driver_number|session_key|points|year|is_current_season|                 key|  date_end|cumulative_points|
+--------+-------------+-----------+------+----+-----------------+--------------------+----------+-----------------+
|       1|            1|       7953|  25.0|2023|                0|          Sakhir2023|2023-03-05|             25.0|
|       2|            1|       7779|   0.0|2023|                0|          Jeddah2023|2023-03-19|             25.0|
|       1|            1|       7787|  25.0|2023|                0|       Melbourne2023|2023-04-02|             50.0|
|       2|            1|       9070|  18.0|2023|                0|            Baku2023|2023-04-30|             68.0|
|       1|            1|       9078|  26.0|2023|                0|           Miami2023|2023-05-07|             94.0|
|       1|            1|       9094|  25.0|2023|                0|          Monaco2023|2023-05-28|            119.0|
|       1|            1|       9102|  26.0|2023|                0|       Barcelona2023|2023-06-04|            145.0|
|       1|            1|       9110|  25.0|2023|                0|        MontrÃ©al2023|2023-06-18|            170.0|
|       1|            1|       9118|  26.0|2023|                0|       Spielberg2023|2023-07-02|            196.0|
|       1|            1|       9126|  26.0|2023|                0|     Silverstone2023|2023-07-09|            222.0|
|       1|            1|       9133|  26.0|2023|                0|        Budapest2023|2023-07-23|            248.0|
|       1|            1|       9141|  25.0|2023|                0|Spa-Francorchamps...|2023-07-30|            273.0|
|       1|            1|       9149|  25.0|2023|                0|       Zandvoort2023|2023-08-27|            298.0|
|       1|            1|       9157|  25.0|2023|                0|           Monza2023|2023-09-03|            323.0|
|       5|            1|       9165|  10.0|2023|                0|      Marina Bay2023|2023-09-17|            333.0|
|       1|            1|       9173|  26.0|2023|                0|          Suzuka2023|2023-09-24|            359.0|
|       1|            1|       9221|  26.0|2023|                0|          Lusail2023|2023-10-08|            385.0|
|       1|            1|       9213|  25.0|2023|                0|          Austin2023|2023-10-22|            410.0|
|       1|            1|       9181|  25.0|2023|                0|     Mexico City2023|2023-10-29|            435.0|
|       1|            1|       9205|  25.0|2023|                0|       SÃ£o Paulo2023|2023-11-05|            460.0|
|       1|            1|       9189|  25.0|2023|                0|       Las Vegas2023|2023-11-19|            485.0|
|       1|            1|       9197|  26.0|2023|                0|      Yas Island2023|2023-11-26|            511.0|
|       1|            1|       9472|  26.0|2024|                0|          Sakhir2024|2024-03-02|             26.0|
|       1|            1|       9480|  25.0|2024|                0|          Jeddah2024|2024-03-09|             51.0|
|      21|            1|       9488|   0.0|2024|                0|       Melbourne2024|2024-03-24|             51.0|
|       1|            1|       9496|  26.0|2024|                0|          Suzuka2024|2024-04-07|             77.0|
|       1|            1|       9673|  25.0|2024|                0|        Shanghai2024|2024-04-21|            102.0|
|       2|            1|       9507|  18.0|2024|                0|           Miami2024|2024-05-05|            120.0|
|       1|            1|       9515|  25.0|2024|                0|           Imola2024|2024-05-19|            145.0|
|       6|            1|       9523|   8.0|2024|                0|          Monaco2024|2024-05-26|            153.0|
|       1|            1|       9531|  25.0|2024|                0|        MontrÃ©al2024|2024-06-09|            178.0|
|       1|            1|       9539|  25.0|2024|                0|       Barcelona2024|2024-06-23|            203.0|
|       5|            1|       9550|  10.0|2024|                0|       Spielberg2024|2024-06-30|            213.0|
|       2|            1|       9558|  18.0|2024|                0|     Silverstone2024|2024-07-07|            231.0|
|       5|            1|       9566|  10.0|2024|                0|        Budapest2024|2024-07-21|            241.0|
|       4|            1|       9574|  12.0|2024|                0|Spa-Francorchamps...|2024-07-28|            253.0|
|       2|            1|       9582|  18.0|2024|                0|       Zandvoort2024|2024-08-25|            271.0|
|       6|            1|       9590|   8.0|2024|                0|           Monza2024|2024-09-01|            279.0|
|       5|            1|       9598|  10.0|2024|                0|            Baku2024|2024-09-15|            289.0|
|       2|            1|       9606|  18.0|2024|                0|      Marina Bay2024|2024-09-22|            307.0|
|       3|            1|       9617|  15.0|2024|                0|          Austin2024|2024-10-20|            322.0|
|       6|            1|       9625|   8.0|2024|                0|     Mexico City2024|2024-10-27|            330.0|
|       1|            1|       9636|  26.0|2024|                0|       SÃ£o Paulo2024|2024-11-03|            356.0|
|       5|            1|       9644|  10.0|2024|                0|       Las Vegas2024|2024-11-24|            366.0|
|       1|            1|       9655|  25.0|2024|                0|          Lusail2024|2024-12-01|            391.0|
|       6|            1|       9662|   8.0|2024|                0|      Yas Island2024|2024-12-08|            399.0|
|       2|            1|       9693|  18.0|2025|                1|       Melbourne2025|2025-03-16|             18.0|
|       4|            1|       9998|  12.0|2025|                1|        Shanghai2025|2025-03-23|             30.0|
|       1|            1|      10006|  25.0|2025|                1|          Suzuka2025|2025-04-06|             55.0|
|       6|            1|      10014|   8.0|2025|                1|          Sakhir2025|2025-04-13|             63.0|
+--------+-------------+-----------+------+----+-----------------+--------------------+----------+-----------------+
only showing top 50 rows

In [17]:
window2 = Window.partitionBy("year","team_name").orderBy("date_end")

test = spark_df.withColumn(
    "team_points",
    f.sum("points").over(window2)
)

In [18]:
test.show()

+--------+-------------+-----------+------+----+-----------------+---------------+----------+----------+-----------+
|position|driver_number|session_key|points|year|is_current_season|            key|  date_end| team_name|team_points|
+--------+-------------+-----------+------+----+-----------------+---------------+----------+----------+-----------+
|     8.0|           77|       7953|   4.0|2023|                0|     Sakhir2023|2023-03-05|Alfa Romeo|        4.0|
|    16.0|           24|       7953|   0.0|2023|                0|     Sakhir2023|2023-03-05|Alfa Romeo|        4.0|
|    13.0|           24|       7779|   0.0|2023|                0|     Jeddah2023|2023-03-19|Alfa Romeo|        4.0|
|    18.0|           77|       7779|   0.0|2023|                0|     Jeddah2023|2023-03-19|Alfa Romeo|        4.0|
|     9.0|           24|       7787|   2.0|2023|                0|  Melbourne2023|2023-04-02|Alfa Romeo|        6.0|
|    11.0|           77|       7787|   0.0|2023|                0|  Melbourne2023|2023-04-02|Alfa Romeo|        6.0|
|    18.0|           77|       9070|   0.0|2023|                0|       Baku2023|2023-04-30|Alfa Romeo|        6.0|
|    21.0|           24|       9070|   0.0|2023|                0|       Baku2023|2023-04-30|Alfa Romeo|        6.0|
|    13.0|           77|       9078|   0.0|2023|                0|      Miami2023|2023-05-07|Alfa Romeo|        6.0|
|    16.0|           24|       9078|   0.0|2023|                0|      Miami2023|2023-05-07|Alfa Romeo|        6.0|
|    11.0|           77|       9094|   0.0|2023|                0|     Monaco2023|2023-05-28|Alfa Romeo|        6.0|
|    13.0|           24|       9094|   0.0|2023|                0|     Monaco2023|2023-05-28|Alfa Romeo|        6.0|
|     9.0|           24|       9102|   2.0|2023|                0|  Barcelona2023|2023-06-04|Alfa Romeo|        8.0|
|    19.0|           77|       9102|   0.0|2023|                0|  Barcelona2023|2023-06-04|Alfa Romeo|        8.0|
|    10.0|           77|       9110|   1.0|2023|                0|   MontrÃ©al2023|2023-06-18|Alfa Romeo|        9.0|
|    16.0|           24|       9110|   0.0|2023|                0|   MontrÃ©al2023|2023-06-18|Alfa Romeo|        9.0|
|    12.0|           24|       9118|   0.0|2023|                0|  Spielberg2023|2023-07-02|Alfa Romeo|        9.0|
|    15.0|           77|       9118|   0.0|2023|                0|  Spielberg2023|2023-07-02|Alfa Romeo|        9.0|
|    12.0|           77|       9126|   0.0|2023|                0|Silverstone2023|2023-07-09|Alfa Romeo|        9.0|
|    15.0|           24|       9126|   0.0|2023|                0|Silverstone2023|2023-07-09|Alfa Romeo|        9.0|
+--------+-------------+-----------+------+----+-----------------+---------------+----------+----------+-----------+
only showing top 20 rows

In [4]:
DATAAGGREGATOR.get_racer_team_points(racer_team="team")

,session_key,key,year,driver_number,team_name,date_end,points,points_gained
0,7953,Sakhir2023,2023,77,Alfa Romeo,2023-03-05,4.0,4.0
1,7953,Sakhir2023,2023,24,Alfa Romeo,2023-03-05,0.0,4.0
2,7779,Jeddah2023,2023,24,Alfa Romeo,2023-03-19,0.0,4.0
3,7779,Jeddah2023,2023,77,Alfa Romeo,2023-03-19,0.0,4.0
4,7787,Melbourne2023,2023,24,Alfa Romeo,2023-04-02,2.0,6.0
...,...,...,...,...,...,...,...,...
1272,9912,Monza2025,2025,55,Williams,2025-09-07,0.0,83.0
1273,9904,Baku2025,2025,55,Williams,2025-09-21,15.0,98.0
1274,9904,Baku2025,2025,23,Williams,2025-09-21,0.0,98.0
1275,9896,Marina Bay2025,2025,55,Williams,2025-10-05,1.0,99.0
1276,9896,Marina Bay2025,2025,23,Williams,2025-10-05,0.0,99.0